[user]
	name = Chris Watson
	email = 710406+c24w@users.noreply.github.com
[push]
	default = upstream
[core]
	autocrlf = true
	whitespace = cr-at-eol
	editor = gvim
	autorlf = true
[rerere]
	enabled = 1
[help]
	autocorrect = 1
